*{
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.ls-container{
    height: 100vh;
    /* background-color: lightgray; */
    background: url(background.png) no-repeat;
    background-position: center;
    background-size: cover;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading{
    position: relative;
    height: 150px;
    width: 150px;
    transition: all 0.3s ease-in-out;
    /* border: 2px solid red; */
}

.loading div{
    transition: all 0.3s ease-in-out;
}

/* #19A68C, #F63D3A, #FDA543, #193B48 */

.loading div:nth-child(1){
    position: absolute;
    top: 0%;
    left: 0%;    
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: #19A68C;
    animation-name: _1C;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}

.loading div:nth-child(2){
    position: absolute;
    top: 0%;
    right: 0%;    
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: #F63D3A;
    animation-name: _2C;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}

.loading div:nth-child(3){
    position: absolute;
    bottom: 0%;
    left: 0%;    
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: #FDA543;
    animation-name: _3C;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}

.loading div:nth-child(4){
    position: absolute;
    bottom: 0%;
    right: 0%;    
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: #193B48;
    animation-name: _4C;
    animation-duration: 5s;    
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}

@keyframes _1C {
    0%{        
        top: 0%;
        left: 0%;
        /* transition: all 0.3s ease-in-out; */
    }

    10%{
        top: 5%;
    }

    20%{        
        top: 0%;
        left: 66%;
    }

    30%{
        left: 61%;
    }

    40%{
        top: 66%;
        left: 66%;
    }

    50%{
        top: 61%;
    }

    60%{
        left: 0%;
        top: 66%;
    }

    70%{
        left: 5%;
    }

    80%{
        left: 0%;
        top: 0%;
    }
}

@keyframes _2C {
    0%{        
        top: 0%;
        right: 0%;
        /* transition: all 0.3s ease-in-out; */
    }

    10%{
        right: 5%;
    }

    20%{        
        right: 0%;
        top: 66%;
    }

    30%{
        top: 61%;
    }

    40%{
        top: 66%;
        right: 66%;
    }

    50%{
        right: 61%;
    }

    60%{
        top: 0%;
        right: 66%;
    }

    70%{
        top: 5%;
    }

    80%{
        right: 0%;
        top: 0%;
    }
}

@keyframes _3C {
    0%{        
        bottom: 0%;
        left: 0%;
        /* transition: all 0.3s ease-in-out; */
    }

    10%{
        left: 5%;
    }

    20%{        
        left: 0%;
        bottom: 66%;
    }

    30%{
        bottom: 61%;
    }

    40%{
        bottom: 66%;
        left: 66%;
    }

    50%{
        left: 61%;
    }

    60%{
        bottom: 0%;
        left: 66%;
    }

    70%{
        bottom: 5%;
    }

    80%{
        left: 0%;
        bottom: 0%;
    }
}

@keyframes _4C {
    0%{        
        bottom: 0%;
        right: 0%;
        /* transition: all 0.3s ease-in-out; */
    }

    10%{
        bottom: 5%;
    }

    20%{        
        bottom: 0%;
        right: 66%;
    }

    30%{
        right: 61%;
    }

    40%{
        bottom: 66%;
        right: 66%;
    }

    50%{
        bottom: 61%;
    }

    60%{
        right: 0%;
        bottom: 66%;
    }

    70%{
        right: 5%;
    }

    80%{
        right: 0%;
        bottom: 0%;
    }
}
